.view-header-component {
  margin-bottom: 1rem
}

.view-header {
  display: flex;
  gap: 1rem;
  align-content: center;
  align-items: center;
  margin-bottom: 1rem;
  margin-left: 1rem;

  .view-title {
    font-size: 1.5rem;
    font-weight: 600;
    color: #000;
  }
}
