<form [formGroup]="form" class="login-form">
  <ng-container *ngIf="loginFailed">
    Login failed!
  </ng-container>
  <div class="login-form-item">
    <mat-form-field class="login-form-input">
      <mat-label>Username</mat-label>
      <input matInput placeholder="Username" [formControlName]="'username'">
    </mat-form-field>
  </div>
  <div class="login-form-item">
    <mat-form-field class="login-form-input">
      <mat-label>Password</mat-label>
      <input matInput placeholder="Username" type="password" [formControlName]="'password'">
    </mat-form-field>
  </div>
  <div class="form-buttons">
    <button mat-raised-button color="primary" type="submit" (click)="login()">
      Login
    </button>
  </div>
</form>
